body{
    text-align: center;
    font-family: cursive, Arial, Helvetica, sans-serif;
    background-image: url(./assets/image.png);
    background-size: cover;
    color: white;
}

@media (max-width: 767px){
    body{
        font-family: Arial, Helvetica, sans-serif;
    }
}
@media (min-width: 768px) and (max-width: 1217px){
    body{
        font-family: Arial, Helvetica, sans-serif;
    }
}


