body{
    text-align: center;
    font-family: cursive, Arial, Helvetica, sans-serif;
    background-image: url(./assets/image.png);
    background-size: cover;
    color: white;
}
.crypto{
    background-color: blue;
    width: 50%;
    margin-left: 25%;
    border-radius: 100px;
}
.calculate:hover{
    opacity: 0.7;
}
.factsContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    width: 80%;
    margin-left: 10%;
    gap: 20px;
}
.factsContainer div{
    background-color: gray;
    color: black;
    border-radius: 20px;
    border: 2px solid black;
}
.curr{
    margin-top: 2rem;
    
}
.calculate{
    width: 110px;
    height: 35px;
    background-color: cornflowerblue;
    border: none;
cursor: pointer;
}

@media (max-width: 767px){
    .crypto{
        width: 100%;
        margin-left: 0;
    }
    .factsContainer{
        grid-template-columns: 1fr;
    }
    body{
        font-family: Arial, Helvetica, sans-serif;
    }
}
@media (min-width: 768px) and (max-width: 1217px){
    body{
        font-family: Arial, Helvetica, sans-serif;
    }
    .crypto{
        width: 60%;
        margin-left: 20%;
    }
    .factsContainer{
        grid-template-columns: 1fr 1fr;
    }
}


